In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
def getMax(*number):
    return max(number)

print(getMax(2,4,1,6,9))

9

In [8]:
data = [{'first': 'aa', 'last': 'zz'},
       {'first': 'cc', 'last': 'yy'},
        {'first': 'cc', 'last': 'xx'},
        {'first': 'aa', 'last': 'yy'},
       {'first': 'bb', 'last': 'zz'},
       {'first': 'bb', 'last': 'xx'}]

data.sort(key=lambda x: (x['first'], x['last']))
data

[{'first': 'aa', 'last': 'yy'},
 {'first': 'aa', 'last': 'zz'},
 {'first': 'bb', 'last': 'xx'},
 {'first': 'bb', 'last': 'zz'},
 {'first': 'cc', 'last': 'xx'},
 {'first': 'cc', 'last': 'yy'}]

In [9]:

{x:y for x, y in (('a',1), ('b',2), ('c',3))}

{'a': 1, 'b': 2, 'c': 3}

In [10]:
print(*filter(lambda w : w[0] != 'r',['blue', 'red', 'fox', 'read', 'dog']))

blue fox dog

In [11]:
def next_square():
    n = 0 
    while True:
        yield n**2 
        n += 1

for s in next_square():
    if s > 100:
        break
    print(s, end=' ')

0 1 4 9 16 25 36 49 64 81 100

In [12]:
matrix = np.arange(9,0,-1).reshape(3,3)
matrix

array([[9, 8, 7],
       [6, 5, 4],
       [3, 2, 1]])

In [13]:
mysum = lambda n: np.sum(np.arange(1, n + 1) ** 2)

mysum(5)

np.int64(55)

In [14]:
x =pd.Series({'a':1, 'b':2, 'c':3})
x[:]=x.iloc[::-1].values
x

a    3
b    2
c    1
dtype: int64

In [15]:
df = pd.DataFrame(np.arange(20).reshape(5, 4), index=['A','B','C','D','E'], columns= ['W', 'X', 'Y', 'Z'] )

df.loc[['D','A'], ['Y', 'X']]

    Y   X
D  14  13
A   2   1

In [16]:
df = pd.DataFrame(np.arange(20).reshape(5, 4), index=['A','B','C','D','E'], columns= ['W', 'X', 'Y', 'Z'] )

df[df % 3 == 0].sum().sum()

np.float64(63.0)

In [18]:
def get_signed_number(string):
    n = " "
    digit = False
    dot = False
    
    
    for i, ch in enumerate(s):
        if ch.isdigit():
            n += ch
            digit = True
        elif ch in '+-' and not digit:
            if i +1 < len(s) and s[i+1].isdigit():
                n += ch
        elif ch == '.' and digit and not dot:
            n += ch
            dot = True
    return n 

print(get_signed_number('abc-2lj42k-6.ajjlsf23jh'))

TypeError: 'int' object is not iterable